body {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


h1 {
  color: #f9f9fb;
  text-shadow: 0px -2px 10px lightblue;
  text-align: center; 
  font-size:50px
}
h2{
  color: #f9f9fb;
  text-align: center; 
  font-size:40px
}



body {
  font-family: 'Tilt Warp', cursive;
  background-color: darkcyan; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#search-results-div{
  display:none;
}


button {
  width: 200px;
  height: 120px;
  border: none;
  background-color: purple;
  color: white;
  font-weight: bold;
  font-family : inherit;
}
   
sad-boy{
  display: block;
  margin-left: 7000000px;
  margin-right: auto;
  width:400px;
}

.sad-boy {
  position: relative;
}
.text-block {
  position: absolute;
  top: 43%;
  left: 50.5%;
  transform: translate(-50%, -50%);
  color: white;
}
.Minecraft{
  width:350px;
  height:300px;
}

.backbutton{
  width: 150px;
  height: 20px;
}

.songimage{
  width:400px ;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid white 3px;
}
